//colors

//c1
$c1-A: #151515;
$c1-C: #A9A9A9;
$c1-D: #D1D1D1;
$c1-E: #ebebeb;
$c1-F: #F5F5F5;
$c1-H: #f9f9f9;
$c1-J: #ffffff;

//c2
$c2-A: #5E7C6E;
$c2-B: #1B3B30;

//c4
$c4-A: #9C720B;

//////////////////////

//fonts

//poppins
$primary-font: 'Poppins', sans-serif;

//font-weigth for poppins font


//open-sans for open sans font
$secundary-font: 'Open Sans', sans-serif;

//font-weight
$regular: 400;