@import "../../sass/variables";

@media only screen and (max-width: 599px) {
  .mobile-product-grid {
    width: 100%;
    min-width: 320px;
    height: 355vw;
    min-height: 1136px;
    background: darkcyan;
    position: relative;

    &__subcontainer {
      width: 98.067%;
      height: 96.618%;
      background: darkgrey;
      position: absolute;
      top: 1.656%;
      left: 0.966%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
