@import "../../sass/variables";

@media only screen and (max-width: 599px) {
  .fixed-menu {
    width: 100%;
    min-width: 320px;
    height: 18.599vw;
    min-height: 59.516px;
    background: $c1-F;
    position: fixed;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;

    &__subcontainer {
      width: 90.338%;
      height: 79.22%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__left-block {
      width: 36.096%;
      height: 100%;
      border-radius: clamp(9.275px, 2.898vw, 40px);
      border: 1px $c1-D solid;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: $c1-H;
    }

    &__middle-block {
      width: 19.786%;
      height: 100%;
      border-radius: clamp(9.275px, 2.898vw, 40px);
      border: 1px $c1-D solid;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $c1-H;
    }

    &__right-block {
      width: 36.096%;
      height: 100%;
      border-radius: clamp(9.275px, 2.898vw, 40px);
      border: 1px $c1-D solid;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: $c1-H;
    }

    &__line {
      width: 2.222%;
      height: 59.016%;
      background: $c1-E;
    }

    &__icon-container {
      width: 24.222%;
      height: 51.18%;
      margin: 0 4vw;
      cursor: pointer;
    }

    &__icon-container-basket {
      width: 26.503%;
      height: 63.573%;
      margin: 0 4vw;
      position: relative;
      cursor: pointer;
    }

    &__icon-middle-container {
      width: 58.054%;
      height: 69.573%;
      cursor: pointer;
    }

    &__icon {
      width: 100%;
      height: 100%;
    }

    &__icon-basket {
      width: 80.015;
      height: 76.6%;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__basket-counter {
      width: auto;
      min-width: 18.179%;
      height: 51.072%;
      padding: 0 20%;
      background: $c4-A;
      position: absolute;
      top: 43.998%;
      right: 35.905%;
      border-radius: 2vw;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__basket-text {
      margin: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(1px, 3.5vw, 15.71px);
      color: $c1-J;
    }
  }
}
