@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .fixed-menu {
    width: 100%;
    height: 12.109vw;
    background: darkcyan;
    position: fixed;
    bottom: 55%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__subcontainer {
      width: 94.14%;
      height: 65.591%;
      background: darkgray;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__left-block {
      width: 18.672%;
      height: 100%;
      background: darkorchid;
      border-radius: 1.562vw;
      border: 2px $c1-D solid;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &__middle-block {
      width: 10.235%;
      height: 100%;
      background: darkorchid;
      border-radius: 1.562vw;
      border: 2px $c1-D solid;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__right-block {
      width: 18.672%;
      height: 100%;
      background: darkorchid;
      border-radius: 1.562vw;
      border: 2px $c1-D solid;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &__line {
      width: 2.3%;
      height: 59.016%;
      background: $c1-E;
    }

    &__icon-container {
      width: 22.222%;
      height: 49.180%;
      background: darkred;
    }

    &__icon-container-bascket {
      width: 28.503%;
      height: 65.573%;
      background: darkred;
    }

    &__icon-middle {
      width: 54.054%;
      height: 65.573%;
      background: darkred;
    }
  }
}
