@import "../../sass/variables";
@import "../../sass/adminMixins";

@media only screen and (min-width: 1025px) {
  .admin-dashboard-nav {
    width: 100%;
    max-width: 1650px;
    height: 7.696vw;
    max-height: 127px;
    background: darksalmon;
    padding: clamp(21.854px, 2.132vw, 35.18px) clamp(36.651px, 3.575vw, 59px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left-button-container {
      width: 28.526%;
      height: 100%;
      background: darkolivegreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__selected-button {
      @include greyButton;
      transition: all 0.3s ease;
    }

    &__no-selected-button {
      @include whiteButton;
    }

    &__orders-icon {
      width: 18.105%;
      margin-right: 5%;
    }

    &__products-icon {
      width: 18.105%;
      margin-right: 5%;
    }

    &__selected-text {
      @include grayButtonText;
    }

    &__no-selected-text {
      @include whiteButtonText;
    }

    &__right-button-container {
      width: 28.526%;
      height: 100%;
      background: darkolivegreen;
      position: relative;
    }

    &__status-filter-button {
      width: clamp(91.318px, 8.909vw, 147px);
      height: clamp(35.185px, 3.432vw, 56.64px);
      border-radius: clamp(10.504px, 1.024vw, 16.91px);
      border: 2px $c1-C solid;
      background: $c1-J;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__status-filter-button-text {
      @include whiteButtonText;
    }

    &__status-filter-button-icon {
      width: 10.884%;
      margin-left: 10%;
    }

    &__all-orders-button {
      @include whiteButton;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__all-orders-button-icon {
      width: 13.822%;
      margin-right: 4%;
    }

    &__all-orders-button-text {
      @include whiteButtonText
    }

    &__on-delivery-button {
      @include greenButton;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__on-delivery-button-text {
      @include grayButtonText
    }
  }
}
