@import "../../sass/variables";

@media only screen and (min-width: 1025px) {
  .header {
    width: 100%;
    max-width: 1650px;
    height: 14.127vw;
    max-height: 233.1px;
    position: relative;
    background: darkslategray;

    &__contact-bar {
      width: 92.856%;
      height: 26.966%;
      position: absolute;
      top: 0;
      left: 3.571%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: cadetblue;
    }

    &__contact-data {
      width: auto;
      height: 33.407%;
      background: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__green-text {
      font-family: $secundary-font;
      color: $c2-A;
      font-weight: $regular;
      margin: 0;
      font-size: clamp(14px, 0.952vw, 18px);
      margin-right: clamp(13.421px, 2.618vw, 21.605px);
    }

    &__black-text {
      font-family: $secundary-font;
      color: $c1-A;
      font-weight: $regular;
      margin: 0;
      font-size: clamp(14px, 0.952vw, 18px);
      margin: 0 clamp(13.421px, 2.618vw, 21.605px);
    }

    &__contact-links {
      width: clamp(260px, 18.848vw, 311.52px);
      height: 33.407%;
      background: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__green-link {
      font-family: $secundary-font;
      color: $c2-A;
      font-weight: $regular;
      margin: 0;
      font-size: clamp(14px, 0.952vw, 18px);
      cursor: pointer;
    }

    &__line {
      width: 100%;
      height: 2.083%;
      background: $c1-E;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__logo-bar {
      width: 92.848%;
      height: 73.033%;
      position: absolute;
      top: 26.966%;
      left: 3.571%;
      background: darkorange;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo-container {
      width: 15.128%;
      height: 38.463%;
      cursor: pointer;
    }

    &__logo-image {
      width: 100%;
      height: 100%;
    }
  }
}
