@import "../../sass/variables";

@media only screen and (min-width: 1025px) {
  .header {
    width: 100%;
    max-width: 1650px;
    height: 14.127vw;
    max-height: 233.1px;
    background: darkolivegreen;
    position: relative;

    &__contact-bar {
      width: 92.856%;
      height: 26.966%;
      position: absolute;
      top: 0;
      left: 3.571%;
      background: dimgrey;
    }

    &__logo-bar {
      width: 92.848%;
      height: 73.033%;
      position: absolute;
      top: 26.966%;
      left: 3.571%;
      background: darkorange;
    }
  }
}
