@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .header {
    width: 100%;
    height: 14.843vw;
    background: darkolivegreen;
    position: relative;

    &__contact-bar {
      width: 100%;
      height: 42.105%;
      padding: 0 5.533%;
      position: absolute;
      top: 0;
      left: 0;
      background: dimgrey;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__contact-data {
      width: auto;
      height: 33.407%;
      background: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__green-text {
      font-family: $secundary-font;
      color: $c2-a;
      font-weight: $regular;
      margin: 0;
      font-size: 1.640vw;
      margin-right: clamp(12.958px, 2.158vw, 22.106px);
    }

    &__black-text {
      font-family: $secundary-font;
      color: $c1-a;
      font-weight: $regular;
      margin: 0;
      font-size: 1.640vw;
      margin: 0 clamp(12.958px, 2.158vw, 22.106px);
    }

    &__contact-links {
      width: clamp(186.726px, 31.121vw, 318.66px);
      height: 33.407%;
      background: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__green-link {
      font-family: $secundary-font;
      color: $c2-a;
      font-weight: $regular;
      margin: 0;
      font-size: 1.640vw;
      cursor: pointer;
    }

    &__line {
      width: 88.932%;
      height: 2.083%;
      background: $c1-e;
      position: absolute;
      bottom: 0;
      left:5.533%;
    }

    &__logo-bar {
      width: 100%;
      height: 67.438%;
      position: absolute;
      top: 42.105%;
      left: 0;
      background: darkorange;
    }
  }
}
