@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .header {
    width: 100%;
    height: 14.843vw;
    background: darkolivegreen;
    position: relative;

    &__contact-bar {
      width: 100%;
      height: 42.105%;
      padding: 0 5.533%;
      position: absolute;
      top: 0;
      left: 0;
      background: dimgrey;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__contact-data {
      width: 40%;
      height: 33.407%;
      background: cyan;
    }

    &__contact-links {
      width: 40%;
      height: 33.407%;
      background: #ffffff;
    }

    &__logo-bar {
      width: 100%;
      height: 67.438%;
      position: absolute;
      top: 42.105%;
      left: 0;
      background: darkorange;
    }
  }
}
