@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .footer {
    width: 100%;
    height: 116.869vw;
    position: relative;
    background: darkcyan;

    &__subcontainer {
      width: 95.833%;
      height: 63.79%;
      background: darkgrey;
      position: absolute;
      top: 13.48%;
      left: 2.075%;
    }

    &__article {
      width: 100%;
      height: 48.379%;
      border-radius: 1.115vw;
      background-color: darkolivegreen;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__article-subcontainer {
      width: 98.667%;
      height: 96.259%;
      background: darkslategray;
      border-radius: 1.115vw;
      border: 2px #ffffff solid;
      position: relative;
    }

    &__article-text-box {
      width: 40.58%;
      height: 80.258%;
      background: dodgerblue;
      position: absolute;
      top: 9.957%;
      left: 6.831%;
    }

    &__article-title {
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-family: $primary-font;
      font-weight: 500;
      font-size: 2.083vw;
      position: absolute;
      top: 0%;
      left: 0;
    }

    &__article-subtitle {
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-family: $primary-font;
      font-weight: 500;
      font-size: 3.977vw;
      position: absolute;
      top: 12%;
      left: 0;
    }

    &__article-paragraph {
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-family: $primary-font;
      font-weight: 400;
      font-size: clamp(14px, calc(0.7em + 0.1vw), 16px);
      line-height: 22px;
      position: absolute;
      top: 38%;
      left: 0;
    }

    &__article-button {
      width: 56.049%;
      height: 20.093%;
      background: forestgreen;
      border-radius: clamp(10px, 0.952vw, 18px);
      border: 2px #ffffff solid;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0%;
      left: 0;
    }

    &__article-button-text {
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-family: $primary-font;
      font-weight: 500;
      font-size: clamp(14px, 1.822vw, 20px);
    }

    &__image-container {
      width: 47.481%;
      height: 88.368%;
      background: gray;
      position: absolute;
      bottom: 0;
      left: 48.073%;
    }

    &__image {
      width: 100%;
      height: 100%;
    }

    &__social {
      width: 100%;
      height: 6.385%;
      background: darksalmon;
      position: absolute;
      top: 62.002%;
      left: 0%;
    }

    &__copyright {
      width: 47.682%;
      height: 17.864%;
      background: darksalmon;
      position: absolute;
      bottom: 0%;
      left: 0%;
    }
  }
}
