@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .product-details {
    width: 100%;
    height: 156.25vw;
    background: darkcyan;
    position: relative;

    &__subcontainer {
      width: 88.802%;
      height: 97.666%;
      position: absolute;
      top: 0.666%;
      left: 5.598%;
      background: dimgray;
    }

    &__mobile-title {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(10px, 3.255vw, 40px);
      color: $c1-A;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__mobile-sku {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 400;
      font-size: clamp(10px, 2.343vw, 40px);
      color: $c1-A;
      position: absolute;
      top: 0.426%;
      right: 8.944%;
    }

    &__description-container {
      width: 100%;
      height: 44.197%;
      position: absolute;
      top: 54.692%;
      right: 0;
      background: floralwhite;
    }

    &__desktop-title {
      display: none;
    }

    &__desktop-sku {
      display: none;
    }

    &__popularity-container {
      width: 74.327%;
      height: 5.984%;
      background: burlywood;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__rate-container {
      width: 36.291%;
      height: 70.967%;
      background: cornsilk;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__rate-container-number {
      margin: 0;
      padding: 0;
      font-family: $third-font;
      font-weight: 700;
      font-size: clamp(10px, 2.343vw, 30px);
      color: $c1-A;
    }

    &__rate-container-stars {
      margin: 0;
      padding: 0;
      width: 55.434%;
    }

    &__rate-container-amount {
      margin: 0;
      padding: 0;
      font-family: $third-font;
      font-weight: 400;
      font-size: clamp(10px, 2.343vw, 30px);
      color: #bababa;
    }

    &__sold-container {
      width: 22.287%;
      height: 70.967%;
      background: cornsilk;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__sold-container-icon {
      margin: 0;
      padding: 0;
      width: 18.584%;
    }

    &__sold-container-number {
      margin: 0;
      padding: 0;
      font-family: $third-font;
      font-weight: 700;
      font-size: clamp(10px, 2.343vw, 30px);
      color: $c1-A;
    }

    &__sold-container-text {
      margin: 0;
      padding: 0;
      font-family: $third-font;
      font-weight: 400;
      font-size: clamp(10px, 2.343vw, 30px);
      color: $c1-A;
    }

    &__viewed-container {
      width: 27.81%;
      height: 70.967%;
      background: cornsilk;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__viewed-container-icon {
      margin: 0;
      padding: 0;
      width: 19.858%;
    }

    &__viewed-container-number {
      margin: 0;
      padding: 0;
      font-family: $third-font;
      font-weight: 700;
      font-size: clamp(10px, 2.343vw, 30px);
      color: $c1-A;
    }

    &__viewed-container-text {
      margin: 0;
      padding: 0;
      font-family: $third-font;
      font-weight: 400;
      font-size: clamp(10px, 2.343vw, 30px);
      color: $c1-A;
    }

    &__popularity-container-line {
      width: 2px;
      height: 100%;
      background: #f2f2f2;
    }

    &__flex-container {
      width: 100%;
      height: 95.347%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__description {
      padding: 0;
      font-family: $third-font;
      font-weight: 400;
      font-size: clamp(14px, calc(0.8em + 0.575vw), 30px);
      color: $c1-A;
      line-height: 180%;
    }

    &__price-container {
      width: 47.059%;
      height: 11.538%;
      background: rgb(231, 226, 219);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5%;
      margin-bottom: 7%;
    }

    &__price {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(20px, 4.687vw, 50px);
      color: $c2-A;
    }

    &__crossed-line-price {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 400;
      font-size: clamp(14px, 2.604vw, 30px);
      color: $c1-C;
      text-decoration: line-through;
      margin-top: 3%;
    }

    &__discount-container {
      width: 14.953%;
      height: 42.592%;
      background: #3ab137;
      border-radius: clamp(3px, 0.781vw, 6px);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3%;
    }

    &__discount {
      margin: 0;
      padding: 0;
      font-family: $primary-font;
      font-weight: 600;
      font-size: clamp(10px, 1.822vw, 30px);
      color: #ffffff;
      margin-top: 3%;
    }

    &__size-container {
      width: 100%;
      height: 11.16%;
      background: darksalmon;
    }

    &__buttons-container {
      width: 100%;
      height: 20.512%;
      background: rgb(161, 101, 101);
    }

    &__social-container {
      width: 41.495%;
      height: 6.837%;
      background: hotpink;
    }
  }
}
