@import "../../sass/variables";
@import "../../sass/adminMixins";

@media only screen and (min-width: 1025px) {
  .admin-product-form {
    width: 100%;
    max-width: 1650px;
    height: 42.121vw;
    max-height: 695px;
    position: relative;

    &__table-title-bar {
      width: 92.848%;
      height: 10.071%;
      background: $c1-D;
      @include tableTitleBarborderRadius;
      position: absolute;
      top: 0;
      left: 3.575%;
    }

    &__table-title {
      @include grayButtonText;
      position: absolute;
      top: 32.471%;
      left: 3.851%;
    }

    &__table-container {
      width: 92.848%;
      height: 89.928%;
      background: $c1-J;
      position: absolute;
      border: 2px $c1-D solid;
      @include tableBorderRadius;
      top: 10.071%;
      left: 3.575%;
    }

    ::placeholder {
      color: $c1-C;
      opacity: 1;
    }
    :-moz-placeholder {
      color: $c1-C;
      opacity: 1;
    }
    ::-moz-placeholder {
      color: $c1-C;
      opacity: 1;
    }

    &__form {
      width: 100%;
      height: 100%;
      background: darkcyan;
      position: relative;
    }

    &__form-input-container-one {
      width: 25.065%;
      height: 27.68%;
      background: rgb(179, 159, 109);
      position: absolute;
      top: 3.76%;
      left: 3.851%;
    }

    &__product-description {
      width: 100%;
      height: 100%;
      background: darkkhaki;
    }

    &__text-area {
      outline: none;
      width: 100%;
      height: 87.526%;
      padding:clamp(13.492px, 1.316vw, 21.72px);
      background: $c1-H;
      border: 1px $c1-D solid;
      border-radius: clamp(8.933px, 0.871vw, 14.38px);
      position: absolute;
      bottom: 0;
      left: 0;
      @include placeholder;
      resize: none;
    }

    &__form-input-container-two {
      width: 67.008%;
      height: 11.52%;
      background: rgb(179, 159, 109);
      position: absolute;
      top: 3.76%;
      left: 30.809%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__product-sku {
      width: 20.369%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-type {
      width: 37.308%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-name {
      width: 37.308%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__form-input-container-three {
      width: 67.008%;
      height: 11.52%;
      background: rgb(179, 159, 109);
      position: absolute;
      top: 20.006%;
      left: 30.809%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__product-stock {
      width: 16.754%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-rate {
      width: 16.754%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-price {
      width: 16.754%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-old-price {
      width: 16.754%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-review-quantity {
      width: 21.505%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__form-input-container-four {
      width: 93.733%;
      height: 11.52%;
      background: rgb(179, 159, 109);
      position: absolute;
      top: 36.72%;
      left: 3.851%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__product-sold-quantity {
      width: 15.323%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-main-image {
      width: 40.883%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-thumbnail {
      width: 40.883%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__form-input-container-five {
      width: 81.201%;
      height: 11.52%;
      background: rgb(179, 159, 109);
      position: absolute;
      top: 52.56%;
      left: 3.851%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__product-size-one {
      width: 17.711%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-size-two {
      width: 17.711%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-size-three {
      width: 17.711%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-size-four {
      width: 17.711%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-size-five {
      width: 17.711%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__form-input-container-six {
      width: 81.201%;
      height: 11.52%;
      background: rgb(179, 159, 109);
      position: absolute;
      top: 68.4%;
      left: 3.851%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__product-category-one {
      width: 17.711%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-category-two {
      width: 17.711%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-category-three {
      width: 17.711%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-category-four {
      width: 17.711%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-category-five {
      width: 17.711%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__form-input-container-seven {
      width: 44.608%;
      height: 11.52%;
      background: rgb(179, 159, 109);
      position: absolute;
      top: 84.24%;
      left: 3.851%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__product-interest-for-you {
      width: 32.25%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-profit {
      width: 25.08%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__product-views-quantity {
      width: 32.25%;
      height: 100%;
      background: darkkhaki;
      position: relative;
    }

    &__lable {
      @include lableText;
    }

    &__input-image {
      @include imageInput;
      @include placeholder;
    }

    &__input-file {
      @include inputTypeFile;
    }

    &__lable-as-button {
      @include labelAsButton;
    }

    &__folder {
      width: 41.791%;
    }
  }
}
