@import "../../sass/variables";

@media only screen and (max-width: 599px) {
  .filters {
    width: 91.515%;
    height: 95.045%;
    background: darkgray;
    position: absolute;
    top: 2.702%;
    left: 6.969%;
  }
}
