@import "../../sass/variables";

@media only screen and (min-width: 1025px) {
  .container {
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider {
    position: relative;
    width: 200px;
  }

  .slider__track {
    position: absolute;
    border-radius: 3px;
    height: 5px;
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
  }

  .slider__range {
    position: absolute;
    border-radius: 3px;
    height: 5px;
    background-color: #9fe5e1;
    z-index: 2;
  }

  .slider__left-value {
    position: absolute;
    color: #dee2e6;
    font-size: 12px;
    margin-top: 20px;
    left: 6px;
  }

  .slider__right-value {
    position: absolute;
    color: #dee2e6;
    font-size: 12px;
    margin-top: 20px;
    right: -4px;
  }

  .thumb {
    -webkit-appearance: none;
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
    z-index: 4;
  }

  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  .thumb::-moz-range-thumb {
    pointer-events: all;
    cursor: pointer;
  }

  .thumb--left::-webkit-slider-thumb {
    z-index: 4;
  }

  .thumb--right::-webkit-slider-thumb {
    z-index: 4;
  }

  /* Left and right thumbs */
}
