@import "../../sass/variables";

@media only screen and (max-width: 599px) {
  .product-card {
    width: calc(49.033vw - var(--proportion));
    min-width: 156.908px;
    height: 85.541vw;
    min-height: 270.531px;
    background: rgb(116, 96, 47);
    display: flex;
    align-items: center;
    justify-content: center;

    &__subcontainer {
      width: 92.61%;
      height: 95.714%;
      background: darksalmon;
      position: relative;
      border-radius: clamp(5px, 2.033vw, 15px);
      border: 1px $c1-D solid;
    }

    &__image-container {
      width: 88.058%;
      height: 49.417%;
      background: rgb(55, 87, 55);
      position: absolute;
      top: 3.283%;
      left: 5.973%;
      border-radius: clamp(5px, 2.033vw, 15px);
    }
  }
}
