@import "../../sass/variables";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .product-card {
    width: calc(32.421vw - var(--proportion));
    height: 55.859vw;
    background: rgb(116, 96, 47);
    display: flex;
    align-items: center;
    justify-content: center;

    &__subcontainer {
      width: 91.164%;
      height: 94.871%;
      background: darksalmon;
      position: relative;
      border-radius: clamp(8px, 1.324vw, 15px);
      border: 1px $c1-D solid;
    }

    &__image-container {
      width: 88.057%;
      height: 49.113%;
      background: rgb(55, 87, 55);
      position: absolute;
      top: 3.329%;
      left: 5.969%;
      border-radius: clamp(8px, 1.324vw, 15px);
    }
  }
}
