@import "../../sass/variables";

@media only screen and (min-width: 1025px) {
  .my-orders {
    width: 100%;
    max-width: 1650px;
    height: auto;
    min-height: clamp(582.075px, 56.787vw, 937px);
    padding: clamp(33.891px, 3.309vw, 54.61px) clamp(63.363px, 6.181vw, 102px)
      clamp(46.211px, 4.508vw, 74.39px) clamp(37.272px, 3.636vw, 60px);
    background: darkcyan;
  }
}
